@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFProDisplay';
    src: url('/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-body-light: #F2F2F7;
    --color-body-dark: #1C1C1E;

    --color-logo-text-light: #0A84FF;
    --color-logo-text-dark: #0A84FF;

    --color-info-btn-light: #EBEBEB;
    --color-info-btn-dark: #1A1A1A;

    --color-primary-light: #0040D3;
    --color-primary-dark: #0040D3;

    --color-info-text-light: #6C6C70;
    --color-info-text-dark: #6C6C70;

    --color-neutral-text-light: #222222;
    --color-neutral-text-dark: #F2F2F7;

    --color-dark-text-light: #222222;
    --color-dark-text-dark: #F2F2F7;

    --theme-switcher-dark: #393939;
    --theme-switcher-light: #D1D1D6;

    --theme-toggle-dark: #393939;
    --theme-toggle-light: #D1D1D6;

    --uploader-color-light: #d1d1d6;
    --uploader-color-dark: #393939;

    --empty-uploader-color-light: #393939;
    --empty-uploader-color-dark: #d1d1d1;
}

body.light {
    --color-body: var(--color-body-light);
    --color-logo-text: var(--color-logo-text-light);
    --color-info-btn: var(--color-info-btn-light);
    --color-info-text: var(--color-info-text-light);
    --color-neutral-text: var(--color-neutral-text-light);
    --color-dark-text: var(--color-dark-text-light);

    --theme-switcher-transform: translateX(0px);
    --theme-switcher-color: var(--theme-switcher-light);
    --theme-toggle-color: var(--theme-toggle-light);
    --uploader-color: var(--uploader-color-light);
    --empty-uploader-color: var(--empty-uploader-color-light);
}

body.dark {
    --color-body: var(--color-body-dark);
    --color-logo-text: var(--color-logo-text-dark);
    --color-info-btn: var(--color-info-btn-dark);
    --color-info-text: var(--color-info-text-dark);
    --color-neutral-text: var(--color-neutral-text-dark);
    --color-dark-text: var(--color-dark-text-dark);

    --theme-switcher-transform: translateX(30px);
    --theme-switcher-color: var(--theme-switcher-dark);
    --theme-toggle-color: var(--theme-toggle-dark);
    --uploader-color: var(--uploader-color-dark);
    --empty-uploader-color: var(--empty-uploader-color-dark);
}

body {
    background-color: var(--color-body);
}

.font-sf-pro-display {
    font-family: 'SFProDisplay';
    font-optical-sizing: auto;
}

.text-logo {
    color: var(--color-logo-text);
}

.btn-info {
    background-color: var(--color-info-btn);
}

.icon-dark {
    fill: #6C6C70;
}

.text-info {
    color: var(--color-info-text);
}

.text-neutral {
    color: var(--color-neutral-text);
}

.text-dark {
    color: var(--color-dark-text);
}

.clickable {
    cursor: default;
}

body.dark .clickable:hover {
    filter: brightness(135%);
}

body.light .clickable:hover {
    filter: brightness(90%);
}

.theme-toggle-switch {
    transform: var(--theme-switcher-transform);
    transition: transform 0.3s;
    width: 30px;
    height: 100%;
    background-color: var(--theme-switcher-color);
}

.theme-toggle {
    border-radius: 74px;
    border-color: var(--theme-toggle-color);
    width: 60px;
    height: 30px;
}

.uploader-border-color {
    border-color: var(--uploader-color);
}

.empty-uploader-border-color {
    border-color: var(--empty-uploader-color);
}

.no-display {
    display: none;
}

.hidden {
    visibility: hidden;
}

.uploader-table td {
    text-align: left;
}

.uploader-table th {
    text-align: left;
    
}

.uploader-table thead{
    background-color: var(--color-body);
}

.uploader-table-checkbox {
    padding-left: 12px;
}
  
.uploader-table tr { /* Apply to all table rows */
    height: 3rem; /* Set a fixed height for each row */
}

/* Target WebKit-based browsers (Chrome, Safari, etc.) */
.overflow-y-scroll::-webkit-scrollbar {
    width: 4px; /* Adjust width as needed */
}

/* Target the scrollbar thumb (the draggable part) */
.overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: #0A84FF; 
    border-radius: 10px; /* Optional: Rounded scrollbar */
}

/* Apply the three classes to Firefox browsers */
@-moz-document url-prefix(){
    .overflow-y-scroll {
        scrollbar-width: auto; /* "auto" or "thin" */
        scrollbar-color: #0A84FF transparent; /* Scrollbar color */
    }

}